
<div class="containerProject">
    <div class="navbarProject">
        <div class="navbar__heading">
            <h3>Nhóm địa bàn</h3>
            <div>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
        <div class="navbar__search">
            <input type="text" name="" id="" placeholder="Tìm kiếm" style="display: none">
        </div>
        <div class="navbar__diagram">
            <div class="treeview">
                @*Tree View*@
            </div>
        </div>
    </div>
    <div class="contentBlock">
        <div class="contentBlock__heading">
            <a style="color: #049363; font-weight: 600; border-bottom: 3px solid #049363">
                <i class="fa fa-list"></i>
                Danh sách xe
            </a>
            <a asp-controller="BookingBike" asp-action="BookingBikeView">
                <i class="fa fa-star"></i>
                Xe chờ được duyệt 
            </a>
            <a asp-controller="User" asp-action="UserManage">
                <i class="fa fa-user-friends"></i>
                Người dùng
            </a>
        </div>
        <div class="contentBlock__container">
            <div class="contentBlock__options">
                <a data-toggle="modal" class="contentBlock__options-item btnThemMoi" style="text-decoration: none; color: #fff;">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>
            </div>
            <div class="contentBlock__content">
                @*Container content*@
            </div>
        </div>
    </div>
</div>


<!-- Modal CRUD-->
<div class="modal fade" id="myModalCRUD" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-group inputBlock">
                        <label for="HouseTitle">Tiêu đề</label>
                        <input type="text" class="form-control inputContent" id="HouseTitle" name="HouseTitle" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="OfLocationId">Mã nhóm địa bàn</label>
                        <input type="text" class="form-control inputContent" id="OfLocationId" name="OfLocationId" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="Address">Địa chỉ chi tiết:</label>
                        <input type="text" class="form-control inputContent" id="Address" name="Address" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="Price">Giá</label>
                        <input type="text" class="form-control inputContent" id="Price" name="Price" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="Desciption">Mô tả</label>
                        <input type="text" class="form-control inputContent" id="Desciption" name="Desciption" placeholder="" />
                    </div>
                 
                    <div class="form-group inputBlock">
                        <label for="HouseStatus">Trạng thái</label>
                        <select name="HouseStatus" id="HouseStatus" class="form-control selectContent">
                            <option value="Available" selected>Availabale</option>
                            <option value="Unavailable">Unavailable</option>
                        </select>
                    </div>
                    <div class="form-group inputBlock">
                        <label for="OwnerName">Tên chủ sở hữu</label>
                        <input type="text" class="form-control inputContent" id="OwnerName" name="OwnerName" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="OwnerPhone">Số điện thoại</label>
                        <input type="text" class="form-control inputContent" id="OwnerPhone" name="OwnerPhone" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="ImageCategory">Đường dẫn ảnh: </label>
                        <input type="text" class="form-control inputContent" id="ImageCategory" name="ImageCategory" placeholder="" />
                    </div>
                    <div class="form-group inputBlock" style="display: none;">
                        <label for="CreatedAt">Ngày tạo: </label>
                        <input type="text" class="form-control inputContent" id="CreatedAt" name="CreatedAt" placeholder="" />
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" style="display: none">Thêm mới</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display: none">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>


<script src="~/js/admin.js"></script>


