<div class="containerProject">
    <div class="contentBlock">
        <div class="contentBlock__heading">
            <a asp-controller="Admin" asp-action="BikeManage">
                <i class="fa fa-list"></i>
                Danh sách xe
            </a>
            <a asp-controller="BookingBike" asp-action="BookingBikeView">
                <i class="fa fa-star"></i>
                Xe đang chờ được duyệt
            </a>
            <a style="color: #049363; font-weight: 600; border-bottom: 3px solid #049363">
                <i class="fa fa-user-friends"></i>
                Người dùng
            </a>
        </div>
        <div class="contentBlock__container">
            <div class="contentBlock__content2">
                @*Container content*@
            </div>
        </div>
    </div>
</div>

<!-- Modal CRUD-->
<div class="modal fade" id="myModalCRUD" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-group inputBlock">
                        <label for="Name">Họ và tên</label>
                        <input type="text" class="form-control inputContent" id="Name" name="Name" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="PhoneNumber">Số điện thoại</label>
                        <input type="text" class="form-control inputContent" id="PhoneNumber" name="PhoneNumber" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control inputContent" id="Email" name="Email" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="Password">Mật khẩu</label>
                        <input type="text" class="form-control inputContent" id="Password" name="Password" placeholder="" />
                    </div>
                    <div class="form-group inputBlock">
                        <label for="Role">Quyền</label>
                        <select name="Role" id="Role" class="form-control selectContent">
                            <option value="role1">Admin</option>
                            <option value="role2" selected>Customer</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display: none">Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal InfoBooking-->
<div class="modal fade" id="myModalListBooking" role="dialog">
    <div class="modal-dialog" style="min-width: 75%">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body bodyModalView">
                @*Table list booking*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<script src="~/js/userManage.js"></script>