@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/styleLogin.css" asp-append-version="true" />
@{
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}
@model User
<div id="login-form" class="login-form">
    @*<form>*@
    @using (Html.BeginForm("Login", "Access", FormMethod.Post))
    {
        <div class="loading"></div>
        <div class="title">Đăng nhập</div>
        <div class="input-form-login">
            <div class="row message"></div>
            <div class="row">
                <div class="col1">Tên truy cập</div>
                <div class="col2">
                    @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })
                </div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="col1" style="padding-bottom:1rem">Mật khẩu</div>
                <div class="col2">
                    @Html.PasswordFor(x => x.Password, new { autocomplete = "off", placeholder = "Nhập mật khẩu " }) <br />
                    <input id="remember" name="rememberMe" type="checkbox" /> Duy trì đăng nhập
                </div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="col1"></div>
                <div class="col2">
                    <span style="color: red" class="show-recover-form">Quên mật khẩu ?</span>
                    <span class="show-register-form"><a class="" style="text-decoration:none" asp-area="" asp-controller="Access" asp-action="Register">Đăng Ký</a></span>
                </div>
                <div class="clear"></div>
            </div>
            <div style="margin-top: 20px" class="row">
                <div class=" button-login">
                    <button type="submit" class="login">Đăng nhập</button>
                </div>
            </div>
            <p style="color:red; text-align:center">
                @ViewBag.error
            </p>
        </div>
    }
    @*</form>*@
</div>
